.CanvasOptions-Container
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    margin: auto auto;
    width: 100%;
}

.ColorPicker-Container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
}

.ColorPicker
{
    border-radius: 10vmax;
    width: 50%;
}

.Options-Container
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin: auto;
    height: auto;
}

.SizeSlider-Container
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin: auto;
    height: auto;
}

.Divider
{
    margin-left: 2%;
    margin-right: 2%;
}