.pageRoot
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-bar
{
    margin: 0.5%;
}

.player-canvas-chat
{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    margin-top: 2%;
    max-height: 80vh;
    height: 100%;
}

.chat
{
    width: 19vw;
    max-height: 100%;
}

.canvas
{
    width: 60vw;
    max-height: 100%;
}

.active-players
{
    width: 19vw;
    max-height: 100%;
}
