<mat-card class="active-players-root">
    <h1 class="title">Active Players</h1>

    <mat-divider/>

    <mat-list class="active-players-list">
        @for (item of CurrentPlayers; track item)
        {
            <mat-list-item >
                @if (item.Role == 0) 
                {
                    <img matListItemAvatar  src="./assets/pen.jpg" alt="Drawer Image">
                }
                @else 
                {
                    <img matListItemAvatar src="./assets/qm.jpg" alt="Guesser Image">
                }
                <h3 matListItemTitle class="username">
                    {{item.Username}}
                </h3>
            </mat-list-item>
        }
    </mat-list>           
</mat-card>