<mat-card class="active-players-root">
    <h1 class="title">Active Players</h1>

    <mat-divider/>

    <mat-list class="active-players-list">
        @for (item of CurrentPlayers; track item)
        {
            <mat-list-item [ngClass]="{'me-user': PlayerDataService.PlayerData.value?.Id == item.Id}">
                <h3 matListItemTitle class="username">
                    {{item.Username}}
                </h3>

                <h3 matListItemLine class="score">
                    Score: {{item.Score}}
                </h3>
            </mat-list-item>
        }
    </mat-list>           
</mat-card>