@if (Word == undefined) 
{
    <mat-card class="root-container">
        Word not yet set!
    </mat-card>
}
@else 
{
    <mat-card class="root-container">
        <ng-container class="word-part" *ngFor="let item of Word">
           <ng-container class="word-part" *ngIf="item.CharOrNone != undefined; then ifIsChar; else ifIsNone"/>
           <ng-template #ifIsChar><div class="word-part">{{item.CharOrNone}}</div></ng-template>
           <ng-template #ifIsNone><div class="word-part">_</div></ng-template>
        </ng-container>
    </mat-card>
}