<mat-card class="countdown-root">
    <ng-container *ngIf="CountdownState | instanceof: CdNotStarted as notStarted">
        <ng-container>Not Started</ng-container>
    </ng-container>

    <ng-container *ngIf="CountdownState | instanceof: CdFinished as finished">
        <ng-container>Finished</ng-container>
    </ng-container>

    <ng-container *ngIf="CountdownState | instanceof: CdRunning as running">
        <ng-container>{{ running.TimeLeft }}</ng-container>
    </ng-container>
</mat-card>