<h1>Routing Test</h1>

<nav> 
     <ul>
        <li><a [routerLink]="['/game']" (click)="OnGamePageClicked($event)" routerLinkActive="active" >Game Page</a></li> 
    </ul>

    <ul>
        <li><a [routerLink]="['/lobby']" (click)="OnLobbyPageClicked($event)" routerLinkActive="active" >Lobby Page</a></li> 
    </ul>

    <ul>
        <li><button (click)="OnConnectClicked($event)">Connect</button></li> 
    </ul>

    <ul>
        <li><button (click)="OnStartClicked($event)">StartGame</button></li> 
    </ul>

    <ul>
        <li><button (click)="OnWSButtonClicked($event)">Connect to WS</button></li> 
    </ul>

    <ul>
        <li><button (click)="OnSendClicked($event)">Test send</button></li> 
    </ul>
</nav>

<router-outlet></router-outlet>