@if (LobbyUserTypeService.LobbyUserType.value == LobbyUserType.Unknown) 
{
    <h1>Lobby User Type has not been set!</h1>
}
@else 
{
    <mat-card>
        <h1 mat-card-header class="card-header">
            @if (LobbyUserTypeService.LobbyUserType.value == LobbyUserType.Owner)
            {
                Choose values
            }
            @else
            {
                Waiting for Lobby Owner to start..
            }
        </h1>

        <mat-divider class="divider"/>

        <form class="options-form" [formGroup]="OptionsData">
            <mat-form-field class="rounds-amount">
                <mat-label>Amount of rounds</mat-label>
                <input 
                    matInput 
                    [readonly]="LobbyUserTypeService.LobbyUserType.value != LobbyUserType.Owner"
                    (input)="OnRoundsAmountChanged($event)" type="number" formControlName="roundsAmount" max="50" min="1"
                >
              </mat-form-field>
            
              <mat-form-field class="rounds-duration">
                <mat-label>Duration of a round</mat-label>
                <input 
                    matInput 
                    [readonly]="LobbyUserTypeService.LobbyUserType.value != LobbyUserType.Owner" 
                    (input)="OnDurationChanged($event)" type="number" formControlName="roundDuration" max="500" min="30"
                >
              </mat-form-field>
        </form>

        <mat-divider class="divider"/>

        <button mat-raised-button [disabled]="LobbyUserTypeService.LobbyUserType.value != LobbyUserType.Owner" class="start-game-button" (click)="OnStartGameButtonClicked($event)">
            Start Game
        </button>
    </mat-card>
}