.Top-Bar
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(0, 54, 54);
}

.countdown
{
    margin: 0.5%;
    width: 10%;
}

.round-display
{
    margin: 0.5%;
    width: 10%;
}

.hidden-word
{
    margin: 0.5%;
    width: 60%;
}