.Top-Bar
{
    background-color: rgb(0, 54, 54);
}

.second-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.countdown
{
    margin: 0.5%;
    width: 10%;
}

.round-display
{
    margin: 0.5%;
    width: 10%;
}

.hidden-word
{
    margin: 0.5%;

}

.game-id
{
    margin: auto;
}
